/* general setting begin */
html,
body {
  overflow-x: hidden;
}
body {
  max-width: 106em;
  background-color: #173e69;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Alegreya Sans", sans-serif;
  /* font-family: 'Oswald', sans-serif; */
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
a:hover {
  color: #d5b048;
  /* border-bottom: #bbb solid 0.1em; */
}
nav,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
img {
  vertical-align: middle;
}

/* general setting end */

/* header begin */
#header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 0.2em;
  position: relative;
}
.logo {
  width: 4em;
  height: 4em;
}
#menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.header-nav {
  width: 60%;
}

.header-nav ul {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6em;
  line-height: 1em;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0.5em;
}
.header-nav li {
  padding: 0.5em;
  position: relative;
}
.dropdown-content {
  position: absolute;
  left: -0.4em;
  top: 1.5em;
  z-index: 1;
  background-color: rgba(8, 8, 8, 0.5);
  display: none;
  border-radius: 0.1em;
}
.dropdown-content a {
  display: inline-block;
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
}
.header-nav li:hover .dropdown-content {
  display: block;
}
.material-symbols-outlined {
  font-size: 2.5em !important;
  color: #fff;
}
.material-symbols-outlined:hover {
  cursor: pointer;
}
/* header end */

/* main carousel begin */
.slideshow-container {
  max-width: 106em;
  max-height: 19.5em;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  position: absolute;
  bottom: 0.2em;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* main carousel end*/
/* main fixtures begin */
.fixtures {
  width: 100%;
  border-radius: 0.5em;
}
.fixtures-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: #bbb 0.1em solid;
  padding: 0 1em;
  margin-bottom: 1em;
  background-color: #43a1d5;
  width: 100%;
}
.fixtures-header h3 {
  font-size: 1.5em;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#timer {
  width: 10em;
  font-family: "Oswald", sans-serif;
  font-size: 0.9em;
  text-align: center;
}
.fixtures-news-wrapper {
  width: 90vw;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  color: #fff;
}
.left-fixtures-news-wrapper,
.right-fixtures-news-wrapper {
  height: 40vh;
  overflow: hidden;
  border-radius: 1em;
}
.left-fixtures-news-wrapper {
  background-color: #fff;
  flex: 68%;
  display: flex;
  flex-direction: column;
  box-shadow: 0.05em 0.05em 0.05em #aaa;
}
.left-fixtures-news-wrapper img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: all 1s;
}

.left-fixtures-news-wrapper img:hover {
  transform: scale(1.1);
}
.left-fixtures-news-text {
  height: 20%;
  background-color: #333;
  font-size: 1.7em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-fixtures-news-text a {
  overflow: hidden;
  /* width: 60%; */
}
.right-fixtures-news-wrapper {
  flex: 28%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: stretch;
  padding: 0 0.5em;
}
.right-fixtures-news-item {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.05em 0.05em 0.05em #aaa;
  background-color: #fff;
  overflow: hidden;
  border-radius: 1em;
}
.right-fixtures-news-item img {
  width: 50%;
  height: 100%;
  border-radius: 1em;
  transform: scale(1);
}

.right-fixtures-news-text {
  width: 50%;
  height: 100%;
  color: #000;
  padding: 1.5em 1em;
  box-sizing: border-box;
}
.right-fixtures-news-text a {
  display: block;
  height: 15%;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* margin-bottom: 0.3em; */
}
.right-fixtures-news-text p {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

/* main fixtures end */
/* news begin */
.news {
  width: 90%;
  height: 18em;
  margin: 0 auto;
  background-color: #123fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1em;
  gap: 1em;
}
.news-item {
  height: 18em;
  flex: 18%;
  flex-wrap: wrap;
  background-color: #fff;
}

/* news end */
/* gallery begin */
.gallery-wrapper {
  width: 90vw;
  height: 36em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  overflow: hidden;
}
.gallery1 {
  flex: 23%;
  height: 16em;
  border-radius: 1em;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0.05em 0.05em 0.05em #aaa;
}
.gallery1 img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.gallery1 img:hover {
  transform: scale(1.1);
}

/* gallery end */

/* main end */

/* footer begin */
footer {
  width: 90vw;
  padding: 2em;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 0.1em;
  text-align: center;
  border-top: 0.1em solid #666;
}
.footer-left {
  flex: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-left img {
  width: 6em;
  height: 6em;
}
.footer-right {
  flex: 70%;
  display: flex;
}
.footer-nav {
  flex: 25%;
  text-align: left;
}

/* footer end */

/* mobile setting begin */

/* 992 */
@media only screen and (max-width: 1100px) {
  body {
    font-size: 16px;
  }
  #header nav {
    width: 80%;
  }
  /* main css begin */
  .left-fixtures-news-wrapper {
    flex: 100%;
    height: 18em;
  }
  .right-fixtures-news-wrapper {
    height: 30em;
  }
  .gallery-wrapper {
    height: 79em;
  }
  .gallery1 {
    flex: 40%;
    height: 18em;
  }
  /* main css end */

  /* footer begin */
  footer {
    margin-left: 0.1em;
  }
  /* footer end */
}

/* 650 */
@media only screen and (max-width: 650px) {
  body {
    min-width: 380px;
    font-size: 12px;
  }
  /* menu begin */

  #menuButton {
    display: flex;
  }
  #header nav {
    position: absolute;
    width: 100%;
    top: 3.4em;
    max-height: 0;
    overflow: hidden;
  }
  #header .open {
    max-height: 100vh;
    z-index: 111;
  }
  #header ul {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header nav {
    height: 100vh;
    background-color: #173e69;
  }
  #header nav li {
    width: 90vh;
    /* border-bottom: 0.1em solid #bbb; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdown-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: static;
    height: 100%;
  }
  .top-nav {
    text-align: center;
    padding: 0.8em;
    width: 100%;
    border-bottom: 0.1em solid #fff;
  }
  .dropdown-content a {
    width: 100%;
    height: 3.5em;
    border-bottom: 0.1em solid #fff;
  }
  .header-nav li:hover .dropdown-content {
    display: flex;
  }

  /* menu end */
  /* main fixtures begin */
  .left-fixtures-news-text {
    font-size: 1em;
  }
  .left-fixtures-news-wrapper {
    height: 13em;
  }
  .right-fixtures-news-wrapper {
    height: 20em;
  }
  .right-fixtures-news-text {
    padding: 0.5em 1em;
  }
  .gallery-wrapper {
    height: 52em;
  }
  .gallery1 {
    height: 12em;
    /* flex: 40%; */
  }
  /* main fixtures end */

  /* footer begin */
  footer {
    margin-left: -0.5em;
  }
  .footer-left img {
    width: 3em;
    height: 3em;
  }
  /* footer end */
}
